/* Application wide styles */
.root {
  -fx-font: 12px Tahoma;
}


.button{
	-fx-font-size: 12.0px;
    -fx-border-color: #000000;
    -fx-background-color: Transparent;

}

.button:hover{
    -fx-background-color: #CECECE, -fx-outer-border, -fx-inner-border, -fx-body-color;

}

.button:focused {
    -fx-border-color: transparent, white;
    
}

.button:pressed {
    -fx-background-color: #808080, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-text-fill: white;
}

.top-panel {
	-fx-background-color:#708090;
	-fx-text-fill : white
}

.side-panel {
	-fx-background-color:#B0C4DE;
	-fx-text-fill: white;
	-fx-border-color: black
}
.topSecond-panel {
	fx-border-color: black
}
.table-row-cell:empty {
    -fx-background-color: white;
}
 
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}
.list-cell:empty {
    -fx-background-color: white;
}
.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
}
